@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    <div class="text-center" style="background-color:antiquewhite">
        <h1 class="display-4">Welcome</h1>
        <p>This is the first page that you see.</p>
        <p>Click Login if you already are registered.</p>
    </div>

